/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* BOOTSTRAP */

.custom-switch > *{
    cursor: pointer;
}

/* GENERAL */

.pagination {
    margin-top: 20px;
}

.content {
    flex: 1;
    margin-bottom: 30px;
}

.table-actions tr td:last-child{
    min-width: 100px;
}

.td-highlight {
    border-left: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
}

/* JUDGMENT */

.document-text {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    text-align: justify;
}

.document-show .document-text {
    max-height: 500px;
}

.document-title {
    width: 100%;
}

mark {
    background-color: #fff2ac;
}

.judgment > div {
    margin-bottom: 10px;
}
