/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* BOOTSTRAP */

.custom-switch > *{
    cursor: pointer;
}

/* GENERAL */

.pagination {
    margin-top: 20px;
}

.content {
    flex: 1;
    margin-bottom: 30px;
}

.table-actions tr td:last-child{
    min-width: 100px;
}

.td-highlight {
    border-left: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
}

/* JUDGMENT */

.document-text {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    text-align: justify;
}

.document-show .document-text {
    max-height: 500px;
}

.document-title {
    width: 100%;
}

mark {
    background-color: #fff2ac;
}

.judgment > div {
    margin-bottom: 10px;
}

/* QUERIES */

.head-accordion {
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.accordion .card {
    border: none;
}

.accordion .card .card-header,
.accordion .card .card-body {
    background-color: #f8fafc;
    padding-left: 0;
    padding-right: 0;
}

.accordion .card .card-body {
    padding-left: 5px;
}
